@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;500;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;500;600&family=Roboto&display=swap');

body{
    background: rgb(36,1,84);
    background: linear-gradient(90deg, rgba(36,1,84,1) 0%, rgba(31,0,111,1) 35%, rgba(95,3,172,1) 100%);
    padding: 1%;

    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    max-width: 1300px;
    margin:0 auto;
    
}

html {
    scroll-behavior: smooth;
  }


header{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;


}

#title{
    flex-direction: column;
    line-height: 15px;
    font-family: 'Poppins';
    font-size: 20px;
    
    
}

#title h3{
    font-size: 80%;
    margin-top: -3%;
    text-align: center;
    color: rgb(216, 18, 140);
}

ul{
    margin: 0;
    padding:0;
    
}


li{
    list-style: none; 
    margin: 10px;
    display: inline;
    
}

li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: rgb(216, 18, 140);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}

hr{
    height: 4px;
   background-color: rgb(216, 18, 140);
   border: none;
   border-radius: 10px;
}

#imgweb{
    max-width: 80%;
    display: inline-block;
    margin-left: 30%;
    margin-top:  6%;
}

main h1{
  
    font-size: 250%;
    color:rgb(216, 18, 140);
    margin-top:  -47%;
    font-family: 'Lato';
}

main h4{
    font-size: 230%;
    color:rgb(255, 255, 255);
    font-family: 'Lato';
    margin-top: -2.8%;
 
}

main p{
    font-size: 200%;
    text-align: center;
    cursor: pointer;
    font-family: 'Poppins';

    width: 15%;
    height: 40px;
    padding: 10px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: rgb(216, 18, 140);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    transition-duration: 1s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    text-decoration:none;
    color: #CCC;
    
}


main p:hover{

    color: rgb(0, 0, 0);
    transform: scale(1.1)
    
    
    
}


a{
    color:white;
    text-decoration: none;
}

a:hover{

    color: rgb(0, 0, 0);
    transform: scale(1.1)
    
    
    
}


.hr2{
    margin-top: 36%;
    height: 4px;
    background-color: rgb(216, 18, 140);
    border-radius: 10px;
}

.bar-portfolio{
 
    max-width: 1300px;
    background-color: rgb(255, 255, 255);
    width: 200%;
    height: 650px;

}


#port{
  margin-top: -8px;
}

.bar-portfolio h1{
    color: rgb(216, 18, 140);
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins';
}

.img1{
    padding: 20px;
    padding-left: 73px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
  }

  .img1:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
  }

  .img2{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img2:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  
  .img3{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img3:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

    
  .img4{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img4:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  .img5{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img5:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  #port2{
    
    margin-top: -340px;

  }

  .img6{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    margin-left: 4%;
    
  }

  .img6:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  .img7{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img7:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }


  .img8{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img8:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }


  .img9{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img9:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  .img10{
    padding: 20px;
    width: 15%;
    border-radius: 30px;
    transition-duration: 1s;
    
  }

  .img10:hover{
    color: rgb(92, 0, 167);
    transform: scale(1.5)
    
  }

  .atuacao{
    color: rgb(255, 255, 255);
    font-size: 150%;
    text-align: center;
    text-transform: capitalize;
    padding: 60px;
   
    
  }

  .orçamento p{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
     margin: 0 auto;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: -1px;
  }

  .orçamento2{
    padding: 10px;
    text-align: center;
    color:  rgb(92, 0, 167);
  }

  .bar-portfolio2 h3{
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .orçamento:hover{
    transform: scale(1.1)
    
  }

  .bar-orçamento{
    
    background: linear-gradient(0deg, rgba(36,1,84,1) 0%, rgba(31,0,111,1) 35%, rgba(95,3,172,1) 100%);
    max-width: 1300px;
    width: 200%;
    height: 650px;
    margin-top: 50px;
  }

  .icones{
    margin-top: -500px;
  }

  .iconpc{
    width: 3%;
    padding: 20px;
    margin-left: 20%;
    

  }

  .tagiconpc{
    word-wrap:normal;
    width: 218px;
    padding: 20px;
    margin-left: 13%;
    text-align: center;
  
    

  }

  
  .tagiconpc2{
    word-wrap:normal;
    width: 218px;
    padding: 20px;
    margin-left: 13%;
    text-align: center;
    margin-top: -4%;
    color: #CCC;
    font-size: 90%;

  }


  .iconweb{
    width: 3%;
    padding: 20px;
    margin-left: 46.7%;
    margin-top: -212px;
    display:block;

  }

  .tagiconweb{
    word-wrap:normal;
    width: 218px;
    padding: 20px;
    margin-left: 39.8%;
    text-align: center;
    
  
  }

  
  .tagiconweb2{
    word-wrap:normal;
    width: 230px;
    padding: 20px;
    margin-left: 39.3%;
    text-align: center;
    margin-top: -50px;
    color: #CCC;
    font-size: 90%;
  }


  .iconsmart{
    width: 1.6%;
    padding: 20px;
    margin-left: 74%;
    margin-top: -220px;
    display:block;

  }

  .tagiconsmart{
    word-wrap:normal;
    width: 230px;
    padding: 20px;
    margin-left: 66%;
    text-align: center;
    margin-top: 10px;

  }

  .tagiconsmart2{
    word-wrap:normal;
    width: 230px;
    padding: 20px;
    margin-left: 66%;
    text-align: center;
    margin-top: -49px;
    color: #CCC;
    font-size: 90%;

  }



  .direitos{
    background-color: rgb(49, 49, 49);
margin-top: 110px;
    width: 100%;
    height: 300px;
  
  
  }





  .direitos2{
    color: #CCC;
    font-size: 15px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    margin-top: -30px;
  

  }
  
  .face{
    width: 1%;
    margin-top: -90px;
    margin-top: 100px;
    margin-left: 500px;
  }

  .insta{
    width: 2%;
    margin-top: -90px;
    margin-top: 100px;
    margin-left: 110px;
  }

  .whats{
    width: 2%;
    margin-top: -90px;
    margin-top: 100px;
    margin-left: 110px;
  }

  .menu{
    visibility: hidden;
    margin-top: 350px;
    background-color: rgb(218, 218, 218);
    width: 69px;
    height: 60px;
    margin-right: 0;
    position: fixed;
    border-radius: 4px;
    
    }












